.vnpt_custom_report_html {
  overflow-y: auto;
  min-height: 300px;
}

.vnpt_custom_report_html .site-footer {
  height: 30px;
  line-height: 1;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  white-space: nowrap;
  z-index: 10;
  font-size: 1rem;
}

.vnpt_custom_report_html .site-footer .footer-left {
  position: relative;
  margin-left: 5px;
}

.vnpt_custom_report_html .site-footer .footer-left ul {
  max-width: calc(100vw - 250px);
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-flex-wrap: inherit;
  flex-wrap: inherit;
}

.vnpt_custom_report_html .site-footer .footer-left li.nav-item {
  background-color: #fff;
  display: inline-block;
}

.vnpt_custom_report_html .site-footer .footer-left li:nth-child(2) {
  margin-left: 26px;
}

.vnpt_custom_report_html .site-footer .footer-left li.o_sheet_previous,
.vnpt_custom_report_html .site-footer .footer-left li.o_sheet_next {
  position: absolute;
  padding: 2px 8px;
  background-color: #fff;
  border: 1px solid transparent;
  font-size: 1.08333333rem;
  line-height: 1.5;
  cursor: pointer;
}

.vnpt_custom_report_html .site-footer .footer-left li.o_sheet_previous {
  left: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: 1px solid #71639e;
}

.vnpt_custom_report_html .site-footer .footer-left li.o_sheet_next {
  right: -26px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: 1px solid #71639e;
}

.vnpt_custom_report_html .site-footer li.nav-item .nav-link {
  cursor: pointer;
}

.vnpt_custom_report_html .site-footer li.nav-item .nav-link.active {
  background-color: #71639e;
  color: #fff;
}

.vnpt_custom_report_html table.font-size-12 th,
.vnpt_custom_report_html table.font-size-12 td {
  font-size: 12px;
  vertical-align: top;
  padding: 1.4pt 3.4pt 1.4pt 3.4pt;
}

.vnpt_custom_report_html table.font-size-12 td {
  border: thin solid #dfdfdf;
  word-wrap: break-word;
}

.vnpt_custom_report_html table th,
.vnpt_custom_report_html table tr td:nth-child(1) {
  text-align: center;
}

.vnpt_custom_report_html .c-fix-header th {
  background-color: #eee !important;
  position: sticky;
  outline: 1px solid #dfdfdf;
  outline-offset: 0;
  box-shadow: inset 0 0 0 #dfdfdf, inset 0 0 0 #dfdfdf;
  color: #495057;
}

.vnpt_custom_report_html .c-fix-header tr:nth-child(1) th {
  top: 0;
}

.vnpt_custom_report_html .c-fix-header tr:nth-child(2) th {
  top: 38px;
}

.vnpt_custom_report_html .c-fix-header tr:nth-child(3) th {
  top: 59px;
  font-weight: normal;
}

.vnpt_custom_report_html .c-fix-header tr {
  color: #495057;
}

.vnpt_custom_report_html .c-fix-header tr td:last-child {
  border-right: 1px solid #dfdfdf87;
}

.vnpt_custom_report_html .site-footer .footer-right {
  background-color: #fff;
  margin-right: 25px;
}

.vnpt_custom_report_html .site-footer .o_pager_action {
  padding: 2px 8px;
}

.vnpt_custom_report_html .site-footer .footer-right nav {
  -webkit-appearance: none;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  position: relative;
  font-family: inherit;
  font-size: 1rem;
  text-shadow: none;
  line-height: 1.9;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none !important;
  font-weight: 400 !important;
  background: #71639e;
  color: #fff;

  button {
    color: #fff;
    background-color: #71639e;
    border: 1px solid #71639e;
    border-left: 1px solid #fff;
  }
}

.vnpt_custom_report_html .site-footer .footer-right nav .o_pager_counter {
  padding: 1px 8px
}

.vnpt_custom_report_html .hidden-element {
  display: none !important;
}

.fa-caret-square-left:before {
  content: "\f191";
}

.fa-caret-square-right:before {
  content: "\f152";
}

.report_html_data {
  display: block;
}

.report_html_data.thead-width-30 table {
  thead {
    height: 30px;
  }
}

.report_html_data.thead-vertical-align-middle table {
  thead {
    th {
      vertical-align: middle;
    }
  }
}