.custom-dashboard-body {
  padding: 30px 30px 0;
  flex: 1;

  .custom-datepicker {
    width: 150px;

    .input-group-addon {
      cursor: pointer;
    }
  }

  .select2-container--default .select2-selection--single .select2-selection__clear {
    color: #888;
  }

  .card-header {
    position: relative;
    padding: 1rem 1.25rem;
    align-items: center;
    border-bottom-width: 1px;
    height: 3.5rem;

    .card-title {
      text-transform: uppercase;
      float: left;
      font-size: 1.1rem;
      font-weight: 500;
      margin: 0;
      color: #71639e;

      i {
        font-size: 1.4rem;
      }
    }

    .card-tools {
      float: right;
      margin-right: -0.625rem;
      color: rgba(13, 27, 62, 0.7);

      .btn-tool {
        background-color: transparent;
        color: #71639e87;
        font-size: 1rem;
        margin: -1rem 0 -0.75rem 0;
        padding: 0.25rem 0.5rem;
        outline: none;

        :hover {
          color: #71639e;
        }
      }
    }
  }

  .collapsed-card .card-header {
    border-bottom: 0;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

    .col-dashboard-custom {
      padding-right: 7.5px;
      padding-left: 7.5px;
    }
  }

  .input-group {
    position: relative;
    display: table;
    border-collapse: separate;

    .form-control {
      position: relative;
      z-index: 2;
      float: left;
      width: 100%;
      margin-bottom: 0;
    }
  }

  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(102, 175, 233, 0.6);
  }

  .input-group .form-control:last-child,
  .input-group-addon:last-child,
  .input-group-btn:last-child > .btn,
  .input-group-btn:last-child > .btn-group > .btn,
  .input-group-btn:last-child > .dropdown-toggle,
  .input-group-btn:first-child > .btn:not(:first-child),
  .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .input-group-addon:last-child {
    border-left: 0;
  }

  .input-group-addon,
  .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
  }

  .input-group-addon,
  .input-group-btn,
  .input-group .form-control {
    display: table-cell;
  }

  .input-date-range {
    display: inline-flex;

    .custom-datepicker:first-child {
      margin-right: 10px;
    }
  }

  .list-small-box {
    .info-box {
      background-color: #fff;
      color: #343a40;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.13), 0 1px 3px rgba(0, 0, 0, 0.2);
      border-radius: 0.25rem;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 1rem;
      min-height: 80px;
      padding: 0.5rem;
      position: relative;
      width: 100%;

      .info-box-icon {
        border-radius: 0.25rem;
        -ms-flex-align: center;
        align-items: center;
        display: -ms-flexbox;
        display: flex;
        font-size: 1.875rem;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        width: 70px;
      }

      .info-box-content {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        line-height: 2.1;
        -ms-flex: 1;
        flex: 1;
        padding: 0 10px;
        overflow: hidden;
      }

      .info-box-text,
      .info-box .progress-description {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .info-box-text {
        a:hover {
          color: #71639e;
        }
      }

      .info-box-number {
        display: block;
        margin-top: 0.25rem;
        font-weight: 700;
      }
    }

    .bg-info-s {
      background-color: #007bff !important;
      color: #fff !important;
    }

    //@media (min-width: 992px) {
    //  .col-lg-2 {
    //    flex: 0 0 12.5%;
    //    max-width: 12.5%;
    //  }
    //}
  }

  input.input-disable {
    cursor: pointer;
  }

  .list-custom-table {
    .table-responsive {
      max-height: 300px;
      overflow-y: auto;
    }

    table {
      thead {
        th {
          text-align: center;
          border-left: 1px solid #e9ecef;
          border-right: 1px solid #e9ecef;
          background: white;
          position: sticky;
          top: 0;
          outline: 1px solid #e9ecef;
        }
      }

      tbody {
        td {
          border: 1px solid #e9ecef;
        }
      }
    }
  }

  .table-no-border {
    th, td {
      border: none;
    }
  }

  table {
    .t-border-right {
      border-right: 1px solid #71639e5c;
    }

    .t-border-left {
      border-left: 1px solid #71639e5c;
    }

    .t-border-top-left-radius {
      border-top-left-radius: 8px;
    }

    .t-border-top-right-radius {
      border-top-right-radius: 8px;
    }

    .t-border-bottom-left-radius {
      border-bottom-left-radius: 8px;
    }

    .t-border-bottom-right-radius {
      border-bottom-right-radius: 8px;
    }
  }

  .list-process-box {
    .info-box {
      background-color: #fff;
      color: #343a40;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.13), 0 1px 3px rgba(0, 0, 0, 0.2);
      border-radius: 0.25rem;
      margin-bottom: 1rem;
      padding: 0.5rem;
      position: relative;
      width: 100%;

      .t-total {
        padding: 10px 0 10px 0;
      }
    }

    .col-dashboard-custom {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .custom-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    .custom-col-4, .custom-col-8 {
      position: relative;
      width: 100%;
    }

    .custom-col-8 {
      flex: 0 0 66.66666667%;
      max-width: 66.66666667%;
    }

    .custom-col-4 {
      flex: 0 0 33.33333333%;
      max-width: 33.33333333%;
    }
  }

  .show-dashboard-data {
    .card-block {
      height: 430px;
    }

    .list-custom-table {
      .card-block {
        height: 100%;
      }
    }
  }
}

.custom-dashboard-body h4 {
  font-size: 1.5rem;
}

.bg-c-yellow {
  background: linear-gradient(to right, #fe9365, #feb798);
}

.bg-c-green {
  background: -webkit-gradient(linear, left top, right top, from(#0ac282), to(#0df3a3));
  background: linear-gradient(to right, #0ac282, #0df3a3);
}

.bg-c-pink {
  background: -webkit-gradient(linear, left top, right top, from(#fe5d70), to(#fe909d));
  background: linear-gradient(to right, #fe5d70, #fe909d);
}

.bg-c-blue {
  background: -webkit-gradient(linear, left top, right top, from(#01a9ac), to(#01dbdf));
  background: linear-gradient(to right, #01a9ac, #01dbdf);
}

.text-c-blue {
  color: #01a9ac;
}

.text-c-green {
  color: #0ac282;
}

.text-c-pink {
  color: #fe5d70;
}

.text-c-yellow {
  color: #fe9365;
}

.custom-dashboard-body .card {
  transition: all .2s;
  margin-bottom: 1rem;
}

.custom-dashboard-body .card-block {
  padding: 1.25rem;

  .title-search {
    color: #71639e;
  }
}

.custom-dashboard-body .align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.custom-dashboard-body .card .card-block p {
  line-height: 25px;
}

.custom-dashboard-body .m-b-5 {
  margin-bottom: 5px;
}

.custom-dashboard-body .m-b-0 {
  margin-bottom: 0;
}

.text-c-yellow {
  color: #fe9365;
}

.f-50 {
  font-size: 50px;
}

.asset-content-block .show-asset-info,
.asset-status-block .show-asset-info,
.asset-category-block .show-asset-info {
  cursor: pointer;
}

.asset-status-block .card,
.asset-category-block .card {
  background-color: #fff;
}

.m-b-30 {
  margin-bottom: 30px;
}

.p-r-0 {
  padding-right: 0;
}

.feed-card h6 {
  margin-top: 7px;
}

.f-right {
  float: right;
}

.feed-card .feed-icon {
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 8px;
}

.bg-simple-c-blue {
  background: #01a9ac;
}

.bg-simple-c-pink {
  background: #fe5d70;
}

.bg-simple-c-green {
  background: #0ac282;
}

.bg-simple-c-yellow {
  background: #fe9365;
}

.asset-status-block h6,
.asset-category-block h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 14px;
  color: #4c4c4c;
}

.p-t-5 {
  padding-top: 5px;
}

.custom-dashboard-body .card .card-header h5 {
  margin-bottom: 0;
  color: #505458;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  margin-right: 10px;
  line-height: 1.4;
}

.legend-ellipsis-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 185px;
  display: inline-block;
}

.legend-parent-item {
  display: block;
  margin-top: -2px;
  position: relative;
  width: 240px;
  border-bottom: 1px solid #DCDCDC;
}

.custom-dashboard-body .card-block .m-b-30:last-child {
  margin-bottom: 0;
}

header {
  height: 46px;
}

.custom-dashboard-body .line-chart {
  height: 300px;
}

.custom-dashboard-body {
  padding: 30px 30px 0;
  flex: 1 1 0;

  .select2-container-multi .select2-choices {
    border-radius: 4px;

    .select2-search-field input {
      height: 28px;
    }
  }
}

.select2-results__option .wrap:before {
  font-family: fontAwesome;
  color: #999;
  content: "\f096";
  width: 25px;
  height: 25px;
  padding-right: 10px;

}

.select2-results__option[aria-selected=true] .wrap:before {
  content: "\f14a";
}

/* not required css */
.select2-multiple, .select2-multiple2 {
  width: 50%
}

.select2-container-multi .select2-choices .select2-search-choice div {
  margin-left: -15px;
}

.select2-container-multi a.select2-search-choice-close {
  display: none;
}

.hide-element {
  display: none;
}

.ui-datepicker-calendar {
  display: none;
}